@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

.container {
  width: 100%;
  height: 100%;
  background: white;
  color: #353839;
  font-family: 'Sono', monospace;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.station-container {
  border: 2px solid #353839;
  border-radius: 16px;
  flex-grow: 1;
  /* background-color: #adebb3; */
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.padded-span-sm {
  padding: 4px;
  border-radius: 8px;
}

.padded-span {
  padding: 8px;
  border-radius: 16px;
}

.black-border {
  border: 2px solid #353839;
}
